.footer {
    margin-top: 2rem;
    text-align: center;
}

.footer p {
    color: rgba(255,255,255,0.9);
    font-weight: 700;
}

/* for dashboard  */

#footer-dashboard {
    color: black;
    font-weight: 700;
}

#footer-dashboard {
    color: black;
}
